* {
  text-transform: uppercase;
}

body,
html {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: white;
  background-color: black;
}
input {
  background-color: #262626;
  width: 90%;
  height: 40pt;
  margin: 10px;
  color: white;
  border: none;
  text-decoration: none;
  display: inline-block;
  text-transform: none;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.head {
  width: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.title {
  width: 20%;
}

.status {
  text-align: right;
  width: 80%;
}
.buttons {
  display: flex;
  flex-direction: column;
}

.butt {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #262626;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  color: white;
  margin-top: 15px;
}
#login {
  width: 50%;
  height: 50%;
  margin: auto;
  text-align: center;
  position: absolute;
  left: 25%;
  top: 10%;
}
#ovrly {
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  opacity: 0.9;
}
