<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', path='/main.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="content">
      <div class="head">
        <div class="title">
          <p>{{ title }}</p>
        </div>
        <div class="status">
          <div id="message" class="message"></div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="buttons">
        <div id="trigger" class="butt">Trigger Opener</div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function () {
    $("#trigger").click(function () {
      $.ajax({
        type: "POST",
        url: location.origin,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: JSON.stringify({ action: "trigger" }),
        success: function () {
          $("#message").text("Erfolgreich");
        },
      });
    });
  });
</script>
